<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</title>
</head>
<body>
    <div class="container">
        <h4 style="font-weight:bold ; text-align:center ;">BÀI THỰC HÀNH BẢO MẬT THÔNG TIN NÂNG CAO</h4>
        <ul style="margin-top:30px;"> 
            <li> <a href="/caeser">CAESAR CIPHER</a>
            <li><a href="/playfair">PLAYFAIR CIPHER</a>
            <li><a href="/railfence">RAILFENCE CIPHER</a>
            <li><a href="/vigenere">VIGENERE CIPHER</a>
        </ul>
    </div>
</body>
</html>